<% if user_signed_in? %>
    <h2> Already signed in, Do you want to <%= link_to "Sign out?", destroy_user_session_path,:method => :delete, class:'btn btn-danger' %></h2>
<% else %>
    <div class = "col-md-6 col-md-offset-2">
        <div class = "jumbotron">
            <div class = " btn btn-primary btn-block ">
                <%= link_to "Sign Up as Health Care Provider", new_user_registration_path%>
            </div>
            <div class = " btn btn-success btn-block ">
                <%= link_to "Sign Up as Patient", new_patient_registration_path%>
            </div>
        </div>
        </div>
    </div>
<% end %>
